body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 30px;
    background-color: #f4ecec;
    color: #333;

}
.main-header {
    text-align: left;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e0c3fc;
    border-radius: 10px;
}
.main-header h1 {
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 10px;
    width: 10px;
    height: 10px;
}
.team-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-nav {
    background-color:none;
    padding: 0px 20px;

}
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}
.main-nav li {
    display: flex;
    align-items: center;
    gap: 8px;
}
.main-nav a {
    text-decoration: goldenrod;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
.main-nav a:hover {
    color: #7b2ff7;
}
.nav-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.nav-icon:hover {
    transform: rotate(360deg) scale(1.4);
    filter: brightness(1.5);
}